/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 15, 2023, 11:55:15 AM
    Author     : Admin
*/

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}